<div class="comparison-chart">
  <div class="chart-header">
    <h3>Stats Comparison</h3>
    <div class="legend">
      <div class="legend-item">
        <span class="legend-color pokemon1"></span>
        <span>{{ pokemon1().name | titlecase }}</span>
      </div>
      <div class="legend-item">
        <span class="legend-color pokemon2"></span>
        <span>{{ pokemon2().name | titlecase }}</span>
      </div>
    </div>
  </div>
  
  <div class="chart-container">
    <canvas #chartCanvas width="400" height="400"></canvas>
  </div>
  
  <div class="stats-table">
    <div class="table-header">
      <span class="stat-name-col">Stat</span>
      <span class="pokemon-col">{{ pokemon1().name | titlecase }}</span>
      <span class="pokemon-col">{{ pokemon2().name | titlecase }}</span>
      <span class="diff-col">Difference</span>
    </div>
    @for (stat of stats(); track stat.name) {
      <div class="table-row">
        <span class="stat-name-col">{{ stat.displayName }}</span>
        <span class="pokemon-col" [class]="getIndicatorClass(stat.winner)">
          {{ stat.pokemon1Value }}
          <span class="indicator">{{ getIndicatorIcon(stat.winner) }}</span>
        </span>
        <span class="pokemon-col" [class]="getIndicatorClass(stat.winner === 'pokemon1' ? 'pokemon2' : stat.winner === 'pokemon2' ? 'pokemon1' : 'tie')">
          {{ stat.pokemon2Value }}
          <span class="indicator">{{ getIndicatorIcon(stat.winner === 'pokemon1' ? 'pokemon2' : stat.winner === 'pokemon2' ? 'pokemon1' : 'tie') }}</span>
        </span>
        <span class="diff-col" [class.positive]="stat.difference > 0" [class.negative]="stat.difference < 0">
          {{ stat.difference > 0 ? '+' : '' }}{{ stat.difference }}
        </span>
      </div>
    }
  </div>
</div>
